# ## Don't generally want Selenium log files.
# tests/*/*.log

## Python .pyc.
*.pyc

## Don't want the virtualenv stuff for python leaking in.
tests/bin
tests/include
tests/lib
tests/local

## Emacs things (from 
## https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore).
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

## Org-mode ignores.
.org-id-locations
*_archive
